:root {
  --color-primary: #0e3c79;
  --color-primary-deep: #0a2c5c;
  --color-sand: #e7ca9e;
  --color-sand-light: #f6ead3;
  --color-accent: #b47b59;
  --color-accent-deep: #96593f;
  --color-ink: #211c15;
  --color-paper: #fbf7ef;
  --color-white: #ffffff;
  --font-headings: 'Raleway', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-display: 'Barriecito', cursive;
}
